body{
    width: 100%;
    margin: 0;
    // overflow: hidden;
}

.intro-container{
    width: 80%;
    height: 100vh;
    margin: auto;
}

.top-content{
    display: flex;
    width: 100%;
    height: 60%;
    justify-content: space-between;
    align-items: center;
}

.portrait{
    
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
    border-radius: 102.5px;
}

.intro-text{
    display: flex;
    flex-direction: column;
    min-width: 520px;
    width: 40%;
    min-height: 300px;
    height: 40%;
    color: @font-para;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    h1{
    font-size: 96px;
    margin-bottom: 30px;
    }
    p{
    font-size: 18px;
    margin-bottom: 80px; 
    }

}

.accent{
    color: @accent-color;
}

.middle-container{
    width: 100%;
    height: 100vh;
    background: #0C6CE8;
    overflow: hidden;
}

// .background-element{
//   height: 400px;
//   width: 400px;
//   margin-left: -566px;
//   background: #0C6CE8;
//   transform: rotate(45deg);
//   overflow: hidden;
// }