body{
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

.intro-container{
    width: 100%;
    height: 100vh;
    margin: auto;
    overflow: hidden;
}

.top-content{
    display: flex;
    width: 100%;
    height: 60%;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.portrait{
    
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
    border-radius: 102.5px;
}

.intro-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 520px;
    width: 40%;
    min-height: 300px;
    height: 40%;
    color: @font-para;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    h1{
    font-size: 96px;
    margin-bottom: 30px;
    }
    p{
    font-size: 18px; 
    line-height: 25px;
    }

}

.scroll-down{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width:16%;
    margin:auto;
    color: @font-para;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    text-align: center;
    height: 23%;

}

.arrow-down-large{
    width: 0; 
    height: 0;
    margin: 10px auto;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
  
    border-top: 35px solid #0C6CE8;
}

.arrow-down-medium{
    width: 0; 
    height: 0;
    margin: auto;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  
    border-top: 20px solid #0C6CE8;
}

.arrow-down-small{
    width: 0; 
    height: 0;
    margin: auto;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  
    border-top: 10px solid #0C6CE8;
}

.accent{
    color: @accent-color;
}

.middle-container{
    height: 100vh;
    width: 100%;
    padding: 75px 0;
    background: #0C6CE8;
}

.middle-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto 0 auto;
    width: 55%;
    height: 200px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,.30);
}
.project-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: @font-para;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    width: 100%;
    h2{
        font-size: 80px;
        margin-bottom: 30px;
    }
    p{
        font-size: 18px;
        width: 70%;
        line-height: 25px;
        text-align: center;
    }
}

.middle-content{
    width: 100%;
    height: 60%;
    padding: 0 10%;
}

.projects{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    width: 100%;
    height: 100%;
    border: 1px solid red;

}

.project-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100%;
    padding: 0 1%;
    border: 1px solid greenyellow;
    border-radius: 6px;
    background: #f5f5f5;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,.30);

    img{
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }
    h3{ 
        color: @font-para;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        margin: 10px 0;
        padding-bottom: 5px;
        background-image: linear-gradient(to right, transparent 0%, @accent-color 10%, @accent-color 90%, transparent 100%);
        background-position: 0 1.1em;
        background-repeat: repeat-x;
         background-size: max-content;
    }
}

.project-summary{ 
    color: @font-para;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
}