header{
    height: 10%;
    width: 100%;
}
.nav-bar{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0px auto 0px auto;
    padding: 0 10%;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    color: @font-nav;
    width: 66%;
}

.nav-links{
    display: flex; 
    justify-content: space-between;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    width: 34%;
    a{
        text-decoration: none;
        color: @font-nav;
    }
}